.kund__link {
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 20px;

  text-align: left;
  color: var(--color-main-font);
}

@media screen and (max-width: 1024px) {
  .kund__link {
    font-size: 25px;
  }
}

@media screen and (max-width: 768px) {
  .kund__link {
    font-size: 25px;
  }
}

@media screen and (max-width: 480px) {
  .kund__link {
    font-size: 20px;
  }
}

@media screen and (max-width: 320px) {
  .kund__link {
    font-size: 15px;
  }
}