.kund__img {
  width: 494px;
  height: 536px;
  border-radius: 20px;
}

@media screen and (max-width: 1024px) {
  .kund__img {
    width: 440px;
    height: 500px;
  }
}

@media screen and (max-width: 768px) {
  .kund__img {
    width: 440px;
    height: 500px;
  }
}

@media screen and (max-width: 480px) {
  .kund__img {
    width: 440px;
    height: 500px;
  }
}

@media screen and (max-width: 320px) {
  .kund__img {
    width: 440px;
    height: 500px;
  }
}